node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
.idea/
.DS_Store

ios/Pods/**/*
ios/scooter-map.xcworkspace/xcuserdata/victor.xcuserdatad/UserInterfaceState.xcuserstate

android/build/
android/.gradle/**/*
android/app/build/**/*
android/**/*.iml
android/local.properties
android/prod-build/